@model IEnumerable<ProjetoDAAW.Models.Artista>

@{
    ViewData["Title"] = "Index";
}

<h1>Artistas</h1>

<p>
    <a asp-action="Create">Novo Artista</a>
</p>

<div class="row justify-content-center">
    <div class="mt-2 col-md-4" text-center>
        <form asp-action="Index" method="get">
            <input name="Filtro" class="form-control" type="text" placeholder="Filtro" />
            <input class="btn btn-outline-danger col-12 mt-2" type="submit" value="Filtrar" />
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FtArtista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                <img src="@item.FtArtista" height="120" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
