@model ProjetoDAAW.Models.Filme

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do Filme</h1>

<div style="display: flex; gap: 20px; align-items: flex-start; margin-bottom: 20px;">
    <!-- Capa do filme à esquerda -->
    <div style="flex-shrink: 0;">
        <img src="@Model.FtCapaFilme" alt="@Model.Titulo" style="width: 300px; height: auto;" />
    </div>

    <!-- Informações do filme à direita -->
    <div style="flex-grow: 1;">
        <h2>@Model.Titulo</h2>
        <p><strong>Data de Lançamento:</strong> @Model.DtLancamento.ToString("dd/MM/yyyy")</p>
        <p><strong>Diretor:</strong> @Model.Diretor</p>

        <p>
            <strong>Gêneros:</strong>
            @foreach (var genero in Model.Genero)
            {
                <span>@genero.Nome</span>

                @(genero != Model.Genero.Last() ? ", " : "")
            }
        </p>

        <p>
            <strong>Artistas:</strong>
            @foreach (var artista in Model.Artista)
            {
                <span>@artista.Nome</span>

                @(artista != Model.Artista.Last() ? ", " : "")
            }
        </p>

        <p>
            <strong>Personagens:</strong>
            @foreach (var personagem in Model.Personagem)
            {
                <span>@personagem.Prsnag</span>

                @(personagem != Model.Personagem.Last() ? ", " : "")
            }
        </p>
    </div>
</div>

<!-- Sinopse abaixo da capa -->
<div>
    <h3>Sinopse</h3>
    <p>@Model.Descricao</p>
</div>

<div>

    <a asp-controller="Home" asp-action="Index">Voltar no Catalogo de Filmes</a>

    <!-- Restrição de acesso para usuários não Logados -->
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Index">Voltar à Lista</a>
    }
</div>