@model IEnumerable<ProjetoDAAW.Models.Filme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                Gêneros
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtLancamento)
            </th>
            <th>
                Atores
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diretor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FtCapaFilme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @foreach (var genero in item.Genero)
                {
                      <span>@genero.Nome</span>

                      <br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtLancamento)
            </td>
            <td>
                @foreach (var artista in item.Artista)
                {
                      <span>@artista.Nome</span>

                      <br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diretor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FtCapaFilme)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
