@model IEnumerable<ProjetoDAAW.Models.Filme>

@{
    ViewData["Title"] = "Index";
}

<h1>Filmes</h1>

@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Create">Crie seu Novo Filme</a>
}
<div class="row justify-content-center">
    <div class="mt-2 col-md-4" text-center>
        <form asp-action="Index" method="get">
            <input name="Filtro" class="form-control" type="text" placeholder="Filtro" />
            <input class="btn btn-outline-danger col-12 mt-2" type="submit" value="Filtrar" />
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                Gêneros
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtLancamento)
            </th>
            <th>
                Atores
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diretor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FtCapaFilme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                    @if (item.Genero != null)
                    {
                        foreach (var genero in item.Genero)
                        {
                            <span>@genero.Nome</span>
                        }
                    }
                    else
                    {
                        <span>Sem gênero associado</span>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtLancamento)
            </td>
            <td>
                    @if (item.Artista != null)
                    {
                        @foreach (var artista in item.Artista)
                        {
                            <span>@artista.Nome</span>
                            <br />
                        }
                    }
                    else
                    {
                        <span>Sem Artista associado</span>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diretor)
            </td>
            <td>
                <img src="@item.FtCapaFilme" height="120" />
            </td>
                    <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    }
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </td>

        </tr>
}
    </tbody>
</table>
