@model ProjetoDAAW.Models.Contato

@{
    ViewData["Title"] = "Excluir Feedback";
}

<h1 class="mb-4">Excluir Feedback</h1>

<h3 class="mb-4">Você tem certeza de que deseja excluir este feedback?</h3>

<div>
    <h4 class="mb-3">Detalhes do Feedback</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assunto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Admin" class="btn btn-secondary">Voltar para a Lista</a>
    </form>
</div>
